MA-CPL1_TP3_Embedding-MiguelPinto.json
{
  "name": "MA-CPL1_TP3_Embedding-MiguelPinto",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        112
      ],
      "id": "1082af58-8fd7-42a9-a964-73055908d4aa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -512,
        112
      ],
      "id": "a242a285-7d1e-4526-aee6-ce5d011c2e9d",
      "name": "Récupère les messages Outlook",
      "webhookId": "68671009-99ca-4e73-a49d-e0e6f52dff78"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n const j = item.json;\n const messageId = j.id || '';\n const conversationId = j.conversationId || '';\n const sender = j.from || '';\n const subject = j.subject || '';\n const bodyText = j.bodyPreview || '';\n const recipients = Array.isArray(j.to) ? j.to.join(', ') : '';\n const hasAttachments = j.hasAttachments ?? false;\n const textForEmbedding =\n `search_document: Objet: ${subject}\\n` +\n `Expéditeur: ${sender}\\n` +\n `Destinataire(s): ${recipients}\\n` +\n `Message:\\n${bodyText}`;\n return {\n json: {\n message_id: messageId,\n conversation_id: conversationId,\n mailbox: 'etudiant@cpnv.me',\n sender,\n subject,\n body_text: bodyText,\n recipients,\n has_attachments: hasAttachments,\n text_for_embedding: textForEmbedding\n }\n };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        112
      ],
      "id": "24a5d6d7-0d40-4671-9802-693a8d5bc064",
      "name": "Crée un texte Condensé du mail"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text-v2-moe"
            },
            {
              "name": "prompt",
              "value": "={{$json.text_for_embedding}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -64
      ],
      "id": "0d12def9-7b2a-4d79-91a0-cb4960ec0e0c",
      "name": "Calcul de l'embedding"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -32,
        240
      ],
      "id": "bb5c1763-2338-46b1-91e0-c8dc6a548d82",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n const j = item.json;\n const record = {\n message_id: j.message_id,\n conversation_id: j.conversation_id,\n mailbox: j.mailbox,\n sender: j.sender,\n recipients: j.recipients,\n subject: j.subject,\n body_text: j.body_text,\n has_attachments: j.has_attachments,\n text_for_embedding: j.text_for_embedding,\n embedding_model: j.model,\n embedding: Array.isArray(j.embedding) ? j.embedding[0] : [],\n created_at: new Date().toISOString()\n };\n return {\n json: {\n line: JSON.stringify(record)\n }\n };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        240
      ],
      "id": "5836b181-9272-4c2f-af12-3ef1c9cd629a",
      "name": "Transforme les données"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "embeddingsJudahPeriyasamy.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        368,
        240
      ],
      "id": "9eeec360-8a32-4cd7-bb95-6a1be3b66b4a",
      "name": "Converti en fichier"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/embeddingsJudahPeriyasamy.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        576,
        240
      ],
      "id": "78bd4c10-5f91-42b7-864a-e5a134fbbcb1",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Récupère les messages Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupère les messages Outlook": {
      "main": [
        [
          {
            "node": "Crée un texte Condensé du mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crée un texte Condensé du mail": {
      "main": [
        [
          {
            "node": "Calcul de l'embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Transforme les données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforme les données": {
      "main": [
        [
          {
            "node": "Converti en fichier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converti en fichier": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcul de l'embedding": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "489ce85a-578f-4129-8066-b24435b4a54e",
  "meta": {
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "h1aB7jR5lh5MgqmCNQ3zg",
  "tags": []
}