MA-CP1_TP1_EmailClassifier-MiguelPinto.json
{
  "name": "MA-CP1_TP1_EmailClassifier-MiguelPinto",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "821850fd-0716-49d7-b19f-a0fb4ccd125b",
      "name": "Microsoft Outlook Trigger"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n const email = item.json;\n const subject = email.subject || \"\";\n const body = email.bodyPreview || \"\";\n const sender = email.from || \"\";\n const messageId = email.id || \"\";\n const emailText = `Objet: ${subject}\nExpéditeur: ${sender}\nMessage:\n${body}`;\n return {\n json: {\n messageId,\n subject,\n sender,\n body,\n emailText\n }\n };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "354e695f-7c61-49da-b634-2847a5df8b06",
      "name": "Prépare données"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "Matheswaran/email-classifier:latest"
            },
            {
              "name": "prompt",
              "value": "={{ \"Classify the following email and return JSON only.\\n\\n\" + $json.emailText }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "709a2464-0941-407f-a3e9-dff913a34dcb",
      "name": "Envois à API Ollama"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n const parsed = JSON.parse(item.json.response);\n const classification = parsed.classifications?.[0] || {};\n return {\n json: {\n requestType: classification.requestType || \"\",\n requestSubType: classification.requestSubType?.[0] || \"\",\n confidenceScore: parseInt(parsed.confidenceScore) || null,\n reasoning: parsed.reasoning || \"\",\n outlookCategory: classification.requestType || \"Other\"\n }\n };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "d9efa77a-e560-4c59-aad1-aca8d78797b9",
      "name": "Mise en forme données"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Prépare données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prépare données": {
      "main": [
        [
          {
            "node": "Envois à API Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envois à API Ollama": {
      "main": [
        [
          {
            "node": "Mise en forme données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ea60d581-5115-4965-89bd-36509e13bb58",
  "meta": {
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "ZI4RlZQKxXmVwUN8d27XB",
  "tags": []
}